$
$ MCS
$

mcpath   = [TH_MCDIR]/[REGION]/naf

include ../../samples13tev_fancy/TTbar-powheg_bb.config
include ../../samples13tev_fancy/TTbar-powheg_2b.config
include ../../samples13tev_fancy/TTbar-powheg_b.config
include ../../samples13tev_fancy/TTbar-powheg_cc.config
include ../../samples13tev_fancy/TTbar-powheg_lf.config
include ../../samples13tev_fancy/ST-powheg.config
include ../../samples13tev_fancy/TTH-powheg.config
include ../../samples13tev_fancy/MiscDC.config


$$ MCWEIGHTS (without errors)
mcweights+ = "Weight_PU"
	     "Weight_CSV" 
	     "Weight_LSF"
 