processes = "TTH-powheg:ttH"
            "Wjets:Wj"
            "Diboson:VV"
	    "Misc:misc"	    
	    "ttW:ttW"
            "SingleTop-powheg:s_Top"
	    "TTbar-powheg_bb:TTbb"
	    "TTbar-powheg_2b:TT2b"
	    "TTbar-powheg_b:TT1b"
	    "TTbar-powheg_cc:TTcc"
	    "TTbar-powheg_lf:TTlf"
            "THW125-madgraph-13tev:tHW"
	    "THQ125-madgraph-13tev:tHq"


