$$
$$ PDF SYSTEMATICS CONFIGURATION
$$ 

systematic = "pdf_gg"

scale      = "TTbb:1.03"
             "TT2b:1.03"
             "TT1b:1.03"
             "TTcc:1.03"
             "TTlf:1.03"
             "ttH:1.036"


channels   = "tH_2t"
	     "tH_3t"
 	     "tH_4t"
	     "tH_3m"
 	     "tH_4m"

processes  = "TTbb"
             "TT2b"
             "TT1b"
             "TTcc"
             "TTlf"
	     "ttH"





