$$
$$ LUMI SYSTEMATICS CONFIGURATION
$$

systematic = "QCDscale_tt"

scale      = "TTbb:0.96/1.02"
             "TT2b:0.96/1.02"
	     "TT1b:0.96/1.02"
	     "TTcc:0.96/1.02"
	     "TTlf:0.96/1.02"
	     "ttW:0.88/1.13"
	     

channels   = "tH_2t"
	     "tH_3t"
	     "tH_4t"
	     "tH_3m"
	     "tH_4m"


processes  = "TTbb"
	     "TT2b"
	     "TT1b"
	     "TTcc"
	     "TTlf"
	     "ttW"





