$$ CONFIGURATION FOR WmunuH125
$$ (needs to be first config file in make datacards...)

$$ MC SAMPLE
include ../../samples13tev_fancy/THQ125-madgraph.config
include ../../samples13tev_fancy/THW125-madgraph.config

$$ Datacards
$$rootfile  = tH_[REGION].root
$$datacard  = tH_[REGION].txt

$$
$$ OTHER GLOBAL CONFIGS
$$

include ./Lumi.config
include ./Processes.config
include ./Binning.config
include ./Data.config
include ./Selection_[REGION].config

howmanysigs = 2

$$mcweights+ = "THQ125-madgraph:weights_syst[446]/weights_syst[0]"
$$	     "THW125-madgraph:weights_syst[446]/weights_syst[0]"
