mcs = THQ0:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW0:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ446:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW446:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ447:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW447:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ448:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW448:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ449:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW449:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ450:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW450:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ451:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW451:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ452:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW452:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ453:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW453:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ454:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW454:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ455:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW455:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ456:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW456:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ457:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW457:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ458:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW458:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ459:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW459:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ460:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW460:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ461:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW461:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ462:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW462:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ463:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW463:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ464:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW464:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ465:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW465:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ466:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW466:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ467:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW467:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ468:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW468:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ469:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW469:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ470:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW470:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ471:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW471:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ472:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW472:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ473:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW473:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ474:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW474:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ475:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW475:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ476:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW476:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ477:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW477:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ478:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW478:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ479:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW479:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ480:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW480:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ481:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW481:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ482:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW482:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ483:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW483:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ484:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW484:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ485:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW485:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ486:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW486:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ487:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW487:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ488:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW488:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ489:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW489:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ490:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW490:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ491:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW491:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ492:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW492:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ493:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW493:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ494:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW494:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
      THQ495:/storage/jbod/bmaier/merged_THQ_rootfile_nominal.root
      THW495:/storage/jbod/bmaier/merged_THW_rootfile_nominal.root
            


mcweights =  "THQ446:weights_syst[446]/weights_syst[0]"
	     "THW446:weights_syst[446]/weights_syst[0]"
	     "THQ447:weights_syst[447]/weights_syst[0]"
	     "THW447:weights_syst[447]/weights_syst[0]"
	     "THQ448:weights_syst[448]/weights_syst[0]"
	     "THW448:weights_syst[448]/weights_syst[0]"
	     "THQ449:weights_syst[449]/weights_syst[0]"
	     "THW449:weights_syst[449]/weights_syst[0]"
	     "THQ450:weights_syst[450]/weights_syst[0]"
	     "THW450:weights_syst[450]/weights_syst[0]"
	     "THQ451:weights_syst[451]/weights_syst[0]"
	     "THW451:weights_syst[451]/weights_syst[0]"
	     "THQ452:weights_syst[452]/weights_syst[0]"
	     "THW452:weights_syst[452]/weights_syst[0]"
	     "THQ453:weights_syst[453]/weights_syst[0]"
	     "THW453:weights_syst[453]/weights_syst[0]"
	     "THQ454:weights_syst[454]/weights_syst[0]"
	     "THW454:weights_syst[454]/weights_syst[0]"
	     "THQ455:weights_syst[455]/weights_syst[0]"
	     "THW455:weights_syst[455]/weights_syst[0]"
	     "THQ456:weights_syst[456]/weights_syst[0]"
	     "THW456:weights_syst[456]/weights_syst[0]"
	     "THQ457:weights_syst[457]/weights_syst[0]"
	     "THW457:weights_syst[457]/weights_syst[0]"
	     "THQ458:weights_syst[458]/weights_syst[0]"
	     "THW458:weights_syst[458]/weights_syst[0]"
	     "THQ459:weights_syst[459]/weights_syst[0]"
	     "THW459:weights_syst[459]/weights_syst[0]"
	     "THQ460:weights_syst[460]/weights_syst[0]"
	     "THW460:weights_syst[460]/weights_syst[0]"
	     "THQ461:weights_syst[461]/weights_syst[0]"
	     "THW461:weights_syst[461]/weights_syst[0]"
	     "THQ462:weights_syst[462]/weights_syst[0]"
	     "THW462:weights_syst[462]/weights_syst[0]"
	     "THQ463:weights_syst[463]/weights_syst[0]"
	     "THW463:weights_syst[463]/weights_syst[0]"
	     "THQ464:weights_syst[464]/weights_syst[0]"
	     "THW464:weights_syst[464]/weights_syst[0]"
	     "THQ465:weights_syst[465]/weights_syst[0]"
	     "THW465:weights_syst[465]/weights_syst[0]"
	     "THQ466:weights_syst[466]/weights_syst[0]"
	     "THW466:weights_syst[466]/weights_syst[0]"
	     "THQ467:weights_syst[467]/weights_syst[0]"
	     "THW467:weights_syst[467]/weights_syst[0]"
	     "THQ468:weights_syst[468]/weights_syst[0]"
	     "THW468:weights_syst[468]/weights_syst[0]"
	     "THQ469:weights_syst[469]/weights_syst[0]"
	     "THW469:weights_syst[469]/weights_syst[0]"
	     "THQ470:weights_syst[470]/weights_syst[0]"
	     "THW470:weights_syst[470]/weights_syst[0]"
	     "THQ471:weights_syst[471]/weights_syst[0]"
	     "THW471:weights_syst[471]/weights_syst[0]"
	     "THQ472:weights_syst[472]/weights_syst[0]"
	     "THW472:weights_syst[472]/weights_syst[0]"
	     "THQ473:weights_syst[473]/weights_syst[0]"
	     "THW473:weights_syst[473]/weights_syst[0]"
	     "THQ474:weights_syst[474]/weights_syst[0]"
	     "THW474:weights_syst[474]/weights_syst[0]"
	     "THQ475:weights_syst[475]/weights_syst[0]"
	     "THW475:weights_syst[475]/weights_syst[0]"
	     "THQ476:weights_syst[476]/weights_syst[0]"
	     "THW476:weights_syst[476]/weights_syst[0]"
	     "THQ477:weights_syst[477]/weights_syst[0]"
	     "THW477:weights_syst[477]/weights_syst[0]"
	     "THQ478:weights_syst[478]/weights_syst[0]"
	     "THW478:weights_syst[478]/weights_syst[0]"
	     "THQ479:weights_syst[479]/weights_syst[0]"
	     "THW479:weights_syst[479]/weights_syst[0]"
	     "THQ480:weights_syst[480]/weights_syst[0]"
	     "THW480:weights_syst[480]/weights_syst[0]"
	     "THQ481:weights_syst[481]/weights_syst[0]"
	     "THW481:weights_syst[481]/weights_syst[0]"
	     "THQ482:weights_syst[482]/weights_syst[0]"
	     "THW482:weights_syst[482]/weights_syst[0]"
	     "THQ483:weights_syst[483]/weights_syst[0]"
	     "THW483:weights_syst[483]/weights_syst[0]"
	     "THQ484:weights_syst[484]/weights_syst[0]"
	     "THW484:weights_syst[484]/weights_syst[0]"
	     "THQ485:weights_syst[485]/weights_syst[0]"
	     "THW485:weights_syst[485]/weights_syst[0]"
	     "THQ486:weights_syst[486]/weights_syst[0]"
	     "THW486:weights_syst[486]/weights_syst[0]"
	     "THQ487:weights_syst[487]/weights_syst[0]"
	     "THW487:weights_syst[487]/weights_syst[0]"
	     "THQ488:weights_syst[488]/weights_syst[0]"
	     "THW488:weights_syst[488]/weights_syst[0]"
	     "THQ489:weights_syst[489]/weights_syst[0]"
	     "THW489:weights_syst[489]/weights_syst[0]"
	     "THQ490:weights_syst[490]/weights_syst[0]"
	     "THW490:weights_syst[490]/weights_syst[0]"
	     "THQ491:weights_syst[491]/weights_syst[0]"
	     "THW491:weights_syst[491]/weights_syst[0]"
	     "THQ492:weights_syst[492]/weights_syst[0]"
	     "THW492:weights_syst[492]/weights_syst[0]"
	     "THQ493:weights_syst[493]/weights_syst[0]"
	     "THW493:weights_syst[493]/weights_syst[0]"
	     "THQ494:weights_syst[494]/weights_syst[0]"
	     "THW494:weights_syst[494]/weights_syst[0]"
	     "THQ495:weights_syst[495]/weights_syst[0]"
	     "THW495:weights_syst[495]/weights_syst[0]"
	     


	    
labels+  = "0.2:0.87:42:0.04:tH   at the LHC13"
           "0.2:0.81:42:0.04:NLO 5F"

lumi = 1000

$$restitle = "#frac{Sum}{wbwbH}"


mc_residuals = 0   $$1 
residuals = 0   $$1 

stackmc = 0
mcstackname = htWH_DR
mcrefname = htWH_DRint
resmax = 2

batch = 1

formats = "pdf"

masterbool = 0

$$ Legend parameters

leginplot = 1 
legx = 0.54 
legy = 0.91 
legh = 0.17 
legw = 0.3
