$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$ (H125->bb)(t->bWlnu)
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

$$ DATA SAMPLE

datapath = "/storage/a/singletophiggs/Moriond/winter14-jan28/data/ana-ichep/3tt_incl/lep"
include ../../samples/Data.config


$$ MC SAMPLES

mcpath   = "/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval"

include ../../samples/Off-TH125-madgraph_ct-lep.config
include ../../samples/Off-TTbar-madgraph-bb-lep.config
include ../../samples/Off-TTbar-madgraph-b-lep.config
include ../../samples/Off-TTbar-madgraph-cc-lep.config
include ../../samples/Off-TTbar-madgraph-lf-lep.config
$$include ../../samples/Off-SingleTop-powheg-lep.config
include ../../samples/Off-TTH125-aMCatNLO-lep.config
include ../../samples/Off-Electroweak_ST-lep.config


lumi      = 19709.

mcweights+ = "weightPU"
	     "weight_toppt" 
	     "weight_btag"
  	     "weight_lsf"

lumi = 0 
mcuncert = 1
chi2test = 0
kstest = 0
resmax = 0.6
poisson = 1
legh = 0.09
overflow = 0

$$ LABELS

labels+  = "0.175:0.86:Muon + electron channel"
	    "0.175:0.80:3 tag region"		     

ytitle = "Norm. to unit area"

$$ CUTS


cuts+ = "((nmu==1 &&nvetomu==1 && nvetoel==0 &&hlt_isomu24_eta2p1&&met>35) || (nel==1 &&nvetoel==1 && nvetomu==0 &&hlt_ele27_wp80&&met>45))"
	"passpresel && npv>0"

$$ OTHER

formats  = pdf
prefix+  = tHlep_3tag_8tev
opath = ./pdf_tHlep
