
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$ (H125->bb)(t->bWmunu)
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

$$ DATA SAMPLE

datapath = "/storage/a/singletophiggs/Moriond/winter14-jan28/data/ana-ichep/3tt_incl/mu"
include ../../samples/DataMu.config


$$ MC SAMPLES

mcpath   = "/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/mu/eval"
$$mcpath   = "/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/systematics/BTAG_DOWN/3tt_incl/mu"
include ../../samples/Off-TH125-madgraph_ct.config
include ../../samples/Off-TTbar-madgraph-bb.config
include ../../samples/Off-TTbar-madgraph-b.config
include ../../samples/Off-TTbar-madgraph-cc.config
include ../../samples/Off-TTbar-madgraph-lf.config
$$include ../../samples/Off-SingleTop-powheg.config
include ../../samples/Off-TTH125-aMCatNLO.config
include ../../samples/Off-Electroweak_ST.config


lumi      = 19709.

mcweights+ = "weightPU"
	     "weight_toppt" 
	     "weight_btag"
	     "weight_lsf"

lumi = 0 
mcuncert = 1
chi2test = 0
kstest = 0
resmax = 0.6
poisson = 1
legh = 0.09
overflow = 0

$$ LABELS

$$include ../../labels/CMSPreliminary.config
include ../../labels/20fbinv.config
labels+  = "0.175:0.86:Muon channel"
	   "0.175:0.80:3 tag region"
$$	   "0.175:0.75:m_{H}=125 GeV, C_{t}=-1"


$$ CUTS


cuts+ = "(nmu==1 &&nvetomu==1 && nvetoel==0)"
	"passpresel && npv>0"
	"hlt_isomu24_eta2p1>0."
	"met>35"

$$ OTHER

formats  = pdf
prefix+  = tHmu_3tag_8tev
opath = ./pdf_tHmu
