$
$ MCS
$

mcpath   = [TH_MCDIR]/[REGION]_incl/[LEPTON]

include ../../samples/Off-TTbar-madgraph-MatchingUp-bb.config
include ../../samples/Off-TTbar-madgraph-MatchingUp-b.config
include ../../samples/Off-TTbar-madgraph-MatchingUp-cc.config
include ../../samples/Off-TTbar-madgraph-MatchingUp-lf.config
include ../../samples/Off-SingleTop-Lep-powheg.config
include ../../samples/Off-TTH125-aMCatNLO.config
include ../../samples/Off-Electroweak-DC.config

$$ MCWEIGHTS (without errors)
mcweights+ = "weightPU"
	     "weight_toppt" 
	     "weight_csv"
	     "weight_lsf"


 