processes = "TTH125-aMCatNLO:ttH"
$            "Electroweak:EW"
            "Wjets:Wj"
            "Zjets:Zj"
            "Diboson:VV"
            "SingleTop-powheg:s_Top"
	    "TTbar-madgraph-bb:TTbb"
	    "TTbar-madgraph-b:TTb"
	    "TTbar-madgraph-cc:TTcc"
	    "TTbar-madgraph-lf:TTlf"
            "TH125-madgraph:tH"
	    "QCDmuInclPt-pythia6:QCD"
	    "QCDel-pythia6:QCD"
