$$
$$ LUMI SYSTEMATICS CONFIGURATION
$$

systematic = "scale_tt"

scale      = "TTbb:1.03"
             "TTb:1.03"
             "TTcc:1.03"
             "TTlf:1.03"
             "s_Top:1.02"
	     "1.03"

channels   = "tH_3tt_el"
	     "tH_3tt_mu"
	     "tH_4tt_el"
	     "tH_4tt_mu"

processes  = "TT"
             "TTbb"
             "TTb"
             "TTcc"
             "TTlf"
	     "s_Top"



