$$
$$ LUMI SYSTEMATICS CONFIGURATION
$$

systematic = "pdf_gg"

scale      = "TTbb:1.026"
             "TTb:1.026"
             "TTcc:1.026"
             "TTlf:1.026"
             "ttH:1.09"

channels   = "tH_3tt_el"
	     "tH_3tt_mu"
	     "tH_4tt_el"
	     "tH_4tt_mu"

processes  = "TT"
             "TTbb"
             "TTb"
             "TTcc"
             "TTlf"
	     "ttH"




