bdtconfig = "!H:!V:NTrees=600:nEventsMin=400:MaxDepth=3:BoostType=AdaBoost:AdaBoostBeta=0.3:SeparationType=GiniIndex:nCuts=20:PruneMethod=NoPruning"

variables+ = "log(hbbm)"
	     "abs(jteta[ljtidx])"
	     "(jtcsvt[hbbjtidx[0]]>0.679)+(jtcsvt[hbbjtidx[1]]>0.679)"
$$	     "jtcsvt[ljtidx]>0.679"
	     "hbbdr"
	     "(toppt+hbbpt)/sumHt"
	     "log(topm)"
	     "jtcsvt[topjtidx]>0.679"
	     "log(min(min(jtpt[hbbjtidx[0]],jtpt[hbbjtidx[1]]),jtpt[topjtidx]))"
	     "abs(hbbeta)"
$$	     "deltaR(jteta[topjtidx],jtphi[topjtidx],lepweta,lepwphi)"
$$	     "abs(topeta)"
	     "deltaleptop:=(nel==1 && nmu==0)*(Alt$(eleta[0],0)-topeta)+(nmu==1 && nel==0)*(Alt$(mueta[0],0)-topeta)"
$$	     "hbbpt"
$$	     "deltaR(topeta,topphi,hbbeta,hbbphi)"
$$	     "deltaR(topeta,topphi,lepweta,lepwphi)"
$$	     "jtpt[ljtidx]"
$$	     "toppt"
$$	     "costwlt2_rec"




