B1;3409;0cB1;3409;0cB1;3409;0c$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$ (H125->bb)(t->bWmunu)
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

$$ DATA SAMPLE


datapath = "/storage/jbod/bmaier/13tev/data_3t"
$$include ../../samples/13tev/Data.config


$$ MC SAMPLES

mcpath   = "/storage/jbod/bmaier/13tev/3t/eval"


mcs = "case_1:THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"
      "case_1:THW_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"
      "case_1p5:THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"
      "case_1p5:THW_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"
      "case_0p5:THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"
      "case_0p5:THW_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"


mcweights+ = "case_1:weights_syst[457]"
             "case_1p5:weights_syst[474]"
 	     "case_0p5:weights_syst[491]"

mclabels+ = "case_1:1"
            "case_1p5:1.5"
            "case_0p5:0.5"

 	     
 	     

mccolors = "case_1:432"
	   "case_1p5:600"
	   "case_0p5:830"

stackmc = 0 
lumi = 0 
mcuncert = 1
chi2test = 0
kstest = 0
resmax = 0.6
poisson = 1
legh = 0.09
overflow = 0

$$ LABELS

$$include ../../labels/2fbinv.config

$$labels+  = "0.175:0.86:Muon + electron channel"
$$           "0.175:0.80:3 tag region"


$$ CUTS

$$cuts+ = "(((nmu==1 && nel==0)*((Alt$(mupt[0],0))>26)*(met>35)*((Alt$(abs(mueta[0]),0))>0 && (Alt$(abs(mueta[0]),0))<2.1)) || ((nel==1 && nmu ==0)*((Alt$(elpt[0],0))>30)*(met>45)*((Alt$(abs(eleta[0]),0))>0 && (Alt$(abs(eleta[0]),0))<2.1)))"

$$cuts+ = "((nmu==1 && nel==0)*((Alt$(mupt[0],0))>26)*(met>35)*((Alt$(abs(mueta[0]),0))>0 && (Alt$(abs(mueta[0]),0))<2.1))" 

$$cuts+ = "((nel==1 && nmu==0)*((Alt$(elpt[0],0))>30)*(met>45)*((Alt$(abs(eleta[0]),0))>0 && (Alt$(abs(eleta[0]),0))<2.5))"
      
	     
$$ OTHER

formats  = pdf
prefix+  = tH_inclusive

