B1;95;0cB1;3409;0cB1;3409;0c$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$ (H125->bb)(t->bWmunu)
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

$$ DATA SAMPLE

$$datapath = "/storage/a/singletophiggs/13tev/data_jan14/3t"
datapath = "/storage/jbod/bmaier/13tev/data_3t"
include ../../samples/13tev/Data.config


$$ MC SAMPLES

$$mcpath   = "/storage/jbod/bmaier/13tev/3t/eval"
mcs = tHq:/storage/jbod/bmaier/13tev/3t/eval/THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
      tWH:/storage/jbod/bmaier/13tev/3t/eval/THW_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
      ttH:/storage/jbod/bmaier/13tev/3t/eval/ttHTobb_M125_13TeV_powheg_pythia8.root
      bkg:/storage/jbod/bmaier/13tev/3t/eval/TT_TuneCUETP8M1_13TeV-powheg-pythia8.root
      bkg:/storage/jbod/bmaier/13tev/3t/eval/ZZ_TuneCUETP8M1_13TeV-pythia8.root
      bkg:/storage/jbod/bmaier/13tev/3t/eval/WZ_TuneCUETP8M1_13TeV-pythia8.root
      bkg:/storage/jbod/bmaier/13tev/3t/eval/WW_TuneCUETP8M1_13TeV-pythia8.root
      bkg:/storage/jbod/bmaier/13tev/3t/eval/WJetsToLNu_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root
      bkg:/storage/jbod/bmaier/13tev/3t/eval/ST_t-channel_antitop_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      bkg:/storage/jbod/bmaier/13tev/3t/eval/ST_t-channel_top_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      bkg:/storage/jbod/bmaier/13tev/3t/eval/ST_tW_antitop_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      bkg:/storage/jbod/bmaier/13tev/3t/eval/ST_tW_top_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root

mccolors = tHq:633
           tWH:416
	   ttH:616
	   bkg:598

mclabels = "tHq:tHq"
           "tWH:tWH"
	   "ttH:t#bar{t}H"
	   "bkg:bkg"

signal = "TH125-madgraph:/storage/jbod/bmaier/13tev/3t/eval/THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"


signalfac = -1

lumi      = 2215


mcweights+ = "Weight_CSV" 
	     "Weight_PU"
	     

mcuncert = 1
poisson = 1
kstest = 0
chi2test = 0
resmax = 1.2

$$ LABELS

$$include ../../labels/2fbinv.config

labels+  = "0.21:0.86:Muon + electron channel"
           "0.21:0.80:3 tag region"


$$ CUTS

cuts+ = "(((nmu==1 && nel==0)*((Alt$(mupt[0],0))>26)*(met>35)*((Alt$(abs(mueta[0]),0))>0 && (Alt$(abs(mueta[0]),0))<2.1)) || ((nel==1 && nmu ==0)*((Alt$(elpt[0],0))>30)*(met>45)*((Alt$(abs(eleta[0]),0))>0 && (Alt$(abs(eleta[0]),0))<2.1)))"

$$cuts+ = "((nmu==1 && nel==0)*((Alt$(mupt[0],0))>26)*(met>35)*((Alt$(abs(mueta[0]),0))>0 && (Alt$(abs(mueta[0]),0))<2.1))" 

$$cuts+ = "((nel==1 && nmu==0)*((Alt$(elpt[0],0))>30)*(met>45)*((Alt$(abs(eleta[0]),0))>0 && (Alt$(abs(eleta[0]),0))<2.5))"
      
	     
$$ OTHER

formats  = pdf
prefix+  = tHlep_3tag
opath = ./pdf_tHlep
