mcs = tot:/storage/jbod/bmaier/13tev/4t/eval/THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
      tot:/storage/jbod/bmaier/13tev/4t/eval/THW_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
      tot_JER_up:/storage/jbod/bmaier/13tev/systematics/JERUP/4t/THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
      tot_JER_up:/storage/jbod/bmaier/13tev/systematics/JERUP/4t/THW_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
      tot_JER_down:/storage/jbod/bmaier/13tev/systematics/JERDOWN/4t/THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
      tot_JER_down:/storage/jbod/bmaier/13tev/systematics/JERDOWN/4t/THW_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
 
      tot:/storage/jbod/bmaier/13tev/4t/eval/TT_TuneCUETP8M1_13TeV-powheg-pythia8.root
      tot:/storage/jbod/bmaier/13tev/4t/eval/ttHTobb_M125_13TeV_powheg_pythia8.root
      tot:/storage/jbod/bmaier/13tev/4t/eval/ZZ_TuneCUETP8M1_13TeV-pythia8.root
      tot:/storage/jbod/bmaier/13tev/4t/eval/WZ_TuneCUETP8M1_13TeV-pythia8.root
      tot:/storage/jbod/bmaier/13tev/4t/eval/WW_TuneCUETP8M1_13TeV-pythia8.root
      tot:/storage/jbod/bmaier/13tev/4t/eval/WJetsToLNu_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root
      tot:/storage/jbod/bmaier/13tev/4t/eval/ST_t-channel_antitop_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      tot:/storage/jbod/bmaier/13tev/4t/eval/ST_t-channel_top_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      tot:/storage/jbod/bmaier/13tev/4t/eval/ST_tW_antitop_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      tot:/storage/jbod/bmaier/13tev/4t/eval/ST_tW_top_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root

      tot_JER_up:/storage/jbod/bmaier/13tev/systematics/JERUP/4t/TT_TuneCUETP8M1_13TeV-powheg-pythia8.root
      tot_JER_up:/storage/jbod/bmaier/13tev/systematics/JERUP/4t/ttHTobb_M125_13TeV_powheg_pythia8.root
      tot_JER_up:/storage/jbod/bmaier/13tev/systematics/JERUP/4t/ZZ_TuneCUETP8M1_13TeV-pythia8.root
      tot_JER_up:/storage/jbod/bmaier/13tev/systematics/JERUP/4t/WZ_TuneCUETP8M1_13TeV-pythia8.root
      tot_JER_up:/storage/jbod/bmaier/13tev/systematics/JERUP/4t/WW_TuneCUETP8M1_13TeV-pythia8.root
      tot_JER_up:/storage/jbod/bmaier/13tev/systematics/JERUP/4t/WJetsToLNu_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root
      tot_JER_up:/storage/jbod/bmaier/13tev/systematics/JERUP/4t/ST_t-channel_antitop_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      tot_JER_up:/storage/jbod/bmaier/13tev/systematics/JERUP/4t/ST_t-channel_top_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      tot_JER_up:/storage/jbod/bmaier/13tev/systematics/JERUP/4t/ST_tW_antitop_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      tot_JER_up:/storage/jbod/bmaier/13tev/systematics/JERUP/4t/ST_tW_top_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root

      tot_JER_down:/storage/jbod/bmaier/13tev/systematics/JERDOWN/4t/TT_TuneCUETP8M1_13TeV-powheg-pythia8.root
      tot_JER_down:/storage/jbod/bmaier/13tev/systematics/JERDOWN/4t/ttHTobb_M125_13TeV_powheg_pythia8.root
      tot_JER_down:/storage/jbod/bmaier/13tev/systematics/JERDOWN/4t/ZZ_TuneCUETP8M1_13TeV-pythia8.root
      tot_JER_down:/storage/jbod/bmaier/13tev/systematics/JERDOWN/4t/WZ_TuneCUETP8M1_13TeV-pythia8.root
      tot_JER_down:/storage/jbod/bmaier/13tev/systematics/JERDOWN/4t/WW_TuneCUETP8M1_13TeV-pythia8.root
      tot_JER_down:/storage/jbod/bmaier/13tev/systematics/JERDOWN/4t/WJetsToLNu_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root
      tot_JER_down:/storage/jbod/bmaier/13tev/systematics/JERDOWN/4t/ST_t-channel_antitop_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      tot_JER_down:/storage/jbod/bmaier/13tev/systematics/JERDOWN/4t/ST_t-channel_top_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      tot_JER_down:/storage/jbod/bmaier/13tev/systematics/JERDOWN/4t/ST_tW_antitop_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      tot_JER_down:/storage/jbod/bmaier/13tev/systematics/JERDOWN/4t/ST_tW_top_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root



mcweights =  "tot:Weight_PU"
             "tot:Weight_CSV"
             "tot_JER_up:Weight_PU"
	     "tot_JER_up:Weight_CSV"
	     "tot_JER_down:Weight_PU"
	     "tot_JER_down:Weight_CSV"
             

cuts = "(((nmu==1 && nel==0)*((Alt$(mupt[0],0))>26)*(met>35)*((Alt$(abs(mueta[0]),0))>0 && (Alt$(abs(mueta[0]),0))<2.1)) || ((nel==1 && nmu ==0)*((Alt$(elpt[0],0))>30)*(met>45)*((Alt$(abs(eleta[0]),0))>0 && (Alt$(abs(eleta[0]),0))<2.1)))"
	    
labels+  = "0.2:0.87:42:0.04:tH   at the LHC13"
           "0.2:0.81:42:0.04:NLO 5F"

lumi = 2215

$$restitle = "#frac{Sum}{wbwbH}"


mc_residuals = 0   $$1 
residuals = 0   $$1 

stackmc = 0
mcstackname = htWH_DR
mcrefname = htWH_DRint
resmax = 2

batch = 1

formats = "pdf"

masterbool = 0

$$ Legend parameters

leginplot = 1 
legx = 0.54 
legy = 0.91 
legh = 0.17 
legw = 0.3
