bdtconfig = "!H:!V:NTrees=105:MinNodeSize=2:MaxDepth=3:BoostType=AdaBoost:AdaBoostBeta=0.3:SeparationType=GiniIndex:nCuts=14:PruneMethod=NoPruning"

variables+ = "(nel==1 && nmu==0)*Alt$(elcharge[0],0)+(nel==0 && nmu==1)*Alt$(mucharge[0],0)"
	     "log(tophadm)"
             "jtcsvt[hbbjtidx[0][6]]"
             "jtcsvt[hbbjtidx[1][6]]"
             "log(hbbpt[6])"
             "deltaR(jteta[tophadjtidx[0]],jtphi[tophadjtidx[0]],jteta[tophadjtidx[1]],jtphi[tophadjtidx[1]])"
             "jtcsvt[tophadjtidx[0]]"
             "jtcsvt[tophadjtidx[1]]"
	     "log(jtpt[ljtidx[6]])"
	     "abs(jteta[ljtidx[6]])"

cvcf_weight_idx = "6"

methods = "BDT"	     
cuts = "((nmu==1)*(met>35) || (nel==1)*(met>45))"

