$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$ (H125->bb)(t->bWmunu)
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

$$ DATA SAMPLE

datapath = "/storage/jbod/sfink/th_samples/13tev/data_mar16/2m"
include ../../samples13tev_fancy/Data_new.config


$$ MC SAMPLES

mcpath   = "/storage/jbod/sfink/th_samples/13tev/mc_mar16/2m"
include ../../samples13tev_fancy/TH125-madgraph.config
include ../../samples13tev_fancy/TTbar-powheg_bb_incl.config
include ../../samples13tev_fancy/TTbar-powheg_2b_incl.config
include ../../samples13tev_fancy/TTbar-powheg_b_incl.config
include ../../samples13tev_fancy/TTbar-powheg_cc_incl.config
include ../../samples13tev_fancy/TTbar-powheg_lf_incl.config
include ../../samples13tev_fancy/ST-powheg.config
$include ../../samples13tev_fancy/ST-tchan-powheg.config
$include ../../samples13tev_fancy/ST-tWchan-powheg.config
include ../../samples13tev_fancy/TTH-powheg.config
include ../../samples13tev_fancy/TTW-amcatnlo.config
include ../../samples13tev_fancy/Electroweak.config



signal = "TH125-madgraph:THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"
         "TH125-madgraph:THW_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"

signalfac = 50

lumi      = 2671.4


mcweights+ = "Weight_CSV" 
	     "Weight_PU"
	     "sign(Weight)"
$$	     "Weight_TopPt"
	     "Weight_LSF"

mcuncert = 1
poisson = 1
kstest = 0
chi2test = 0
resmax = 0.6

$$ LABELS

include ../../labels/2fbinv.config

labels+  = "0.175:0.86:Muon + electron channel"
           "0.175:0.80:2 tag region"


$$ CUTS
$cuts+ = "(((nmu==1 && nel==0)*((Alt$(mupt[0],0))>26)*(met>35)*((Alt$(abs(mueta[0]),0))>0 && (Alt$(abs(mueta[0]),0))<2.1)) || ((nel==1 && nmu ==0)*((Alt$(elpt[0],0))>30)*(met>45)*((Alt$(abs(eleta[0]),0))>0 && (Alt$(abs(eleta[0]),0))<2.1)))"
cuts+ = "(((nmu==1 && nel==0 && nlmu ==1)*((Alt$(mupt[0],0))>25)*(met>35)) || ((nel==1 && nmu ==0 && nlel==1)*((Alt$(elpt[0],0))>30)*(met>45) ))"

$$cuts+ = "((nmu==1 && nel==0)*((Alt$(mupt[0],0))>26)*(met>35)*((Alt$(abs(mueta[0]),0))>0 && (Alt$(abs(mueta[0]),0))<2.1))" 

$$cuts+ = "((nel==1 && nmu==0)*((Alt$(elpt[0],0))>30)*(met>45)*((Alt$(abs(eleta[0]),0))>0 && (Alt$(abs(eleta[0]),0))<2.5))"
      
	     
$$ OTHER

formats  = pdf
prefix+  = tHlep_2tag
opath = ./pdf_tHphd
