B1;3409;0cB1;3409;0c$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$ (H125->bb)(t->bWmunu)
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

$$ DATA SAMPLE

datapath = "/storage/jbod/sfink/th_samples/13tev/data_mar16/3t/"
include ../../samples13tev/Data.config


$$ MC SAMPLES

mcpath   = "/storage/jbod/sfink/th_samples/13tev/mc_mar16/3t/"
include ../../samples13tev/TH125-madgraph_ct.config
$$include ../../samples13tev/THQ125-madgraph.config
$$include ../../samples13tev/THW125-madgraph.config
include ../../samples13tev/TTbar-powheg_bb.config
include ../../samples13tev/TTbar-powheg_2b.config
include ../../samples13tev/TTbar-powheg_b.config
include ../../samples13tev/TTbar-powheg_cc.config
include ../../samples13tev/TTbar-powheg_lf.config
include ../../samples13tev/ST-tchan-powheg.config
include ../../samples13tev/ST-tWchan-powheg.config
include ../../samples13tev/TTH-powheg.config
$include ../../samples13tev/TTW-amcatnlo.config
$include ../../samples13tev/Electroweak.config



$signal = "TH125-madgraph:THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"
$         "TH125-madgraph:THW_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"

signalfac = 50

lumi      = 2690.6 


mcweights+ = "Weight_CSV" 
$	     "Weight_PU"
$	     "TTW-amcatnlo:1/Weight_PU"
	     "sign(Weight)"


mcuncert = 1
poisson = 1
kstest = 0
chi2test = 0
resmax = 1.2

$$ LABELS

include ../../labels/2fbinv.config

labels+  = "0.175:0.86:Muon + electron channel"
           "0.175:0.80:3 tag region"


$$ CUTS

cuts+ = "(((nmu==1 && nel==0)*((Alt$(mupt[0],0))>26)*(met>35)*((Alt$(abs(mueta[0]),0))>0 && (Alt$(abs(mueta[0]),0))<2.1)) || ((nel==1 && nmu ==0)*((Alt$(elpt[0],0))>30)*(met>45)*((Alt$(abs(eleta[0]),0))>0 && (Alt$(abs(eleta[0]),0))<2.5)))"

$$cuts+ = "((nmu==1 && nel==0)*((Alt$(mupt[0],0))>26)*(met>35)*((Alt$(abs(mueta[0]),0))>0 && (Alt$(abs(mueta[0]),0))<2.1))" 

$$cuts+ = "((nel==1 && nmu==0)*((Alt$(elpt[0],0))>30)*(met>45)*((Alt$(abs(eleta[0]),0))>0 && (Alt$(abs(eleta[0]),0))<2.5))"
      
	     
$$ OTHER

formats  = pdf
prefix+  = tHlep_3tag
opath = ./pdf_tHlep
