B1;3409;0cB1;3409;0c$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$ (H125->bb)(t->bWmunu)
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

$$ DATA SAMPLE

$$datapath = "/storage/a/singletophiggs/13tev/data_jan14/2t"
datapath = "/storage/jbod/bmaier/13tev/data_2t"
include ../../samples/13tev/DataEl.config


$$ MC SAMPLES

$$mcpath   = "/storage/a/singletophiggs/13tev/mc_jan14/2t"
mcpath   = "/storage/jbod/bmaier/13tev/2t"
include ../../samples/13tev/TH125-madgraph.config
$$include ../../samples/13tev/THQ125-madgraph.config
$$include ../../samples/13tev/THW125-madgraph.config
include ../../samples/13tev/TTbar-powheg_bb.config
include ../../samples/13tev/TTbar-powheg_2b.config
include ../../samples/13tev/TTbar-powheg_b.config
include ../../samples/13tev/TTbar-powheg_cc.config
include ../../samples/13tev/TTbar-powheg_lf.config
$$include ../../samples/13tev/ST-tchan-powheg.config
$$include ../../samples/13tev/ST-tWchan-powheg.config
include ../../samples/13tev/TTH-powheg.config
include ../../samples/13tev/TTW-amcatnlo.config
include ../../samples/13tev/Electroweak.config



signal = "TH125-madgraph:THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"
         "TH125-madgraph:THW_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"

signalfac = -1

lumi      = 2215


mcweights+ = "Weight_CSV" 
	     "Weight_PU"
	     "TTW-amcatnlo:1/Weight_PU"
	     "sign(Weight)"
             "TTbar-powheg_lf:((genevt_ttxid%100)==0)"
	     "TTbar-powheg_b:((genevt_ttxid%100)==51)"
	     "TTbar-powheg_2b:((genevt_ttxid%100)==52)"
	     "TTbar-powheg_bb:((genevt_ttxid%100)==53||(genevt_ttxid%100)==54||(genevt_ttxid%100)==55)"
	     "TTbar-powheg_cc:((genevt_ttxid%100)==41||(genevt_ttxid%100)==42||(genevt_ttxid%100)==43||(genevt_ttxid%100)==44||(genevt_ttxid%100)==45)"


mcuncert = 1
poisson = 1
kstest = 0
chi2test = 0
resmax = 0.6

$$ LABELS

include ../../labels/2fbinv.config

labels+  = "0.175:0.86:Electron channel"
           "0.175:0.80:2 tag region"


$$ CUTS

cuts+ = "(nmu==0 && nel==1)"
        "met>45"
	"elpt[0]>30"	
	"abs(eleta[0])<2.5"
	     
$$ OTHER

formats  = pdf
prefix+  = tHel_topCR
opath = ./pdf_tHel
