B1;95;0cB1;95;0cB1;3409;0cB1;3409;0c$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$ (H125->bb)(t->bWmunu)
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

$$ DATA SAMPLE

$$datapath = "/storage/a/singletophiggs/13tev/data_jan14/3t"
datapath = "/storage/jbod/bmaier/13tev/data_2t"
include ../../samples/13tev/Data.config


$$ MC SAMPLES

mcpath   = "/storage/jbod/bmaier/13tev/2t"
include ../../samples/13tev/TH125-madgraph.config
$$include ../../samples/13tev/THQ125-madgraph.config
$$include ../../samples/13tev/THW125-madgraph.config
include ../../samples/13tev/TTbar-powheg_bb.config
include ../../samples/13tev/TTbar-powheg_2b.config
include ../../samples/13tev/TTbar-powheg_b.config
include ../../samples/13tev/TTbar-powheg_cc.config
include ../../samples/13tev/TTbar-powheg_lf.config
$$include ../../samples/13tev/ST-tchan-powheg.config
$$include ../../samples/13tev/ST-tWchan-powheg.config
include ../../samples/13tev/TTH-powheg.config
$$include ../../samples/13tev/TTW-amcatnlo.config
include ../../samples/13tev/Electroweak.config

mcpath_sysdown = "/storage/jbod/bmaier/13tev/2t"
mcpath_sysup = "/storage/jbod/bmaier/13tev/2t"

mcs_sysup = "TH125-madgraph-13tev:THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root" 
	    "TTbar-powheg_bb:TT_TuneCUETP8M1_13TeV-powheg-pythia8.root"
	    "TTbar-powheg_2b:TT_TuneCUETP8M1_13TeV-powheg-pythia8.root"
	    "TTbar-powheg_b:TT_TuneCUETP8M1_13TeV-powheg-pythia8.root"
	    "TTbar-powheg_cc:TT_TuneCUETP8M1_13TeV-powheg-pythia8.root"
	    "TTbar-powheg_lf:TT_TuneCUETP8M1_13TeV-powheg-pythia8.root"
	    "TTH-powheg:ttHTobb_M125_13TeV_powheg_pythia8.root"
	    "Electroweak:WJetsToLNu_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root"
	    "Electroweak:WW_TuneCUETP8M1_13TeV-pythia8.root"
            "Electroweak:WZ_TuneCUETP8M1_13TeV-pythia8.root"
	    "Electroweak:ZZ_TuneCUETP8M1_13TeV-pythia8.root"
            "Electroweak:ST_tW_antitop_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root"
            "Electroweak:ST_tW_top_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root"
            "Electroweak:ST_t-channel_antitop_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root"
	    "Electroweak:ST_t-channel_top_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root"   

mcs_sysdown = "TH125-madgraph-13tev:THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root" 
	    "TTbar-powheg_bb:TT_TuneCUETP8M1_13TeV-powheg-pythia8.root"
	    "TTbar-powheg_2b:TT_TuneCUETP8M1_13TeV-powheg-pythia8.root"
	    "TTbar-powheg_b:TT_TuneCUETP8M1_13TeV-powheg-pythia8.root"
	    "TTbar-powheg_cc:TT_TuneCUETP8M1_13TeV-powheg-pythia8.root"
	    "TTbar-powheg_lf:TT_TuneCUETP8M1_13TeV-powheg-pythia8.root"
	    "TTH-powheg:ttHTobb_M125_13TeV_powheg_pythia8.root"
	    "Electroweak:WJetsToLNu_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root"
	    "Electroweak:WW_TuneCUETP8M1_13TeV-pythia8.root"
            "Electroweak:WZ_TuneCUETP8M1_13TeV-pythia8.root"
	    "Electroweak:ZZ_TuneCUETP8M1_13TeV-pythia8.root"
            "Electroweak:ST_tW_antitop_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root"
            "Electroweak:ST_tW_top_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root"
            "Electroweak:ST_t-channel_antitop_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root"
	    "Electroweak:ST_t-channel_top_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root"   

signal = "TH125-madgraph:THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"
         "TH125-madgraph:THW_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"

signalfac = -1

lumi      = 2198.

mcweights+ = "Weight_CSV" 
	     "Weight_PU"
	     "TTW-amcatnlo:1/Weight_PU"
	     "sign(Weight)"
             "TTbar-powheg_lf:((genevt_ttxid%100)==0)"
	     "TTbar-powheg_b:((genevt_ttxid%100)==51)"
             "TTbar-powheg_2b:((genevt_ttxid%100)==52)" 
             "TTbar-powheg_bb:((genevt_ttxid%100)==53||(genevt_ttxid%100)==54||(genevt_ttxid%100)==55)"
             "TTbar-powheg_cc:((genevt_ttxid%100)==41||(genevt_ttxid%100)==42||(genevt_ttxid%100)==43||(genevt_ttxid%100)==44||(genevt_ttxid%100)==45)"

mcweightsup = "TH125-madgraph:weights_syst[4]/weights_syst[0]" 
	      "TTbar-powheg_bb:weights_syst[4]/weights_syst[0]"
	      "TTbar-powheg_2b:weights_syst[4]/weights_syst[0]"
	      "TTbar-powheg_b:weights_syst[4]/weights_syst[0]"
	      "TTbar-powheg_cc:weights_syst[4]/weights_syst[0]"
	      "TTbar-powheg_lf:weights_syst[4]/weights_syst[0]"
	      "TTH-powheg:weights_syst[4]/weights_syst[0]"

mcweightsdown = "TH125-madgraph:weights_syst[8]/weights_syst[0]"
	        "TTbar-powheg_bb:weights_syst[8]/weights_syst[0]"
	        "TTbar-powheg_2b:weights_syst[8]/weights_syst[0]"
		"TTbar-powheg_b:weights_syst[8]/weights_syst[0]"
		"TTbar-powheg_cc:weights_syst[8]/weights_syst[0]"
		"TTbar-powheg_lf:weights_syst[8]/weights_syst[0]"
		"TTH-powheg:weights_syst[8]/weights_syst[0]"

log_min =  10
logy = 1
plotsys = 1
usesyssamples = 1  
kstest = 0
mcuncert = 1
poisson = 1
kstest = 0
chi2test = 0
resmax = 1.2

$$ LABELS

include ../../labels/2fbinv.config

labels+  = "0.175:0.86:Muon + electron channel"
           "0.175:0.80:2 tag region"
	   "0.175:0.945:PowhegV2 + Py8"

$$ CUTS

cuts+ = "(((nmu==1 && nel==0)*((Alt$(mupt[0],0))>26)*(met>35)*((Alt$(abs(mueta[0]),0))>0 && (Alt$(abs(mueta[0]),0))<2.1)) || ((nel==1 && nmu ==0)*((Alt$(elpt[0],0))>30)*(met>45)*((Alt$(abs(eleta[0]),0))>0 && (Alt$(abs(eleta[0]),0))<2.1)))"

$$cuts+ = "((nmu==1 && nel==0)*((Alt$(mupt[0],0))>26)*(met>35)*((Alt$(abs(mueta[0]),0))>0 && (Alt$(abs(mueta[0]),0))<2.1))" 

$$cuts+ = "((nel==1 && nmu==0)*((Alt$(elpt[0],0))>30)*(met>45)*((Alt$(abs(eleta[0]),0))>0 && (Alt$(abs(eleta[0]),0))<2.5))"
      
	     
$$ OTHER

formats  = pdf
prefix+  = tHlep_2tag
opath = ./pdf_tHq2
