processes = "EW:Wj"
            "EW:Zj"
            "EW:VV"
	    "EW:s_Top"
            "TTH125-aMCatNLO:ttH"
	    "TTbar-madgraph-lf:TTlf"
	    "TTbar-madgraph-cc:TTcc"
	    "TTbar-madgraph-1b:TTb"
	    "TTbar-madgraph-2b:TTbb"

	    "TTbar-madgraph:TTdd"	
            "TH125-madgraph:tH"
	    "QCDmuInclPt-pythia6:QCD"
	    "QCDel-pythia6:QCD"
