processes = "TTH-powheg:ttH"
            "Wjets:Wj"
            "Diboson:VV"
            "SingleTop-powheg:s_Top"
	    "TTbar-powheg_bb:TTbb"
	    "TTbar-powheg_2b:TT2b"
	    "TTbar-powheg_b:TT1b"
	    "TTbar-powheg_cc:TTcc"
	    "TTbar-powheg_lf:TTlf"
            "THW125-madgraph:tHW"
	    "THQ125-madgraph:tHq"


