$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$ (H125->bb)(t->bWmunu)
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

$$ DATA SAMPLE

datapath = "/storage/a/singletophiggs/13tev/data_nov28/2t"
include ../samples/DataEl.config


$$ MC SAMPLES

mcpath   = "/storage/a/singletophiggs/13tev/mc_nov16/2t"
include ../samples/TH125-madgraph.config
include ../samples/TTbar-powheg.config
include ../samples/TTH-powheg.config
include ../samples/TTW-amcatnlo.config
include ../samples/WJets-amcatnlo.config
include ../samples/VV-pythia8.config


lumi      = 2094

mcweights+ = "Weight_PU"
$$	     "weight_toppt" 
$$	     "weight_btag"
$$	     "weight_lsf"
$$	     "TTbar-madgraph-SemiLept:1.0113239"
$$	     "TTbar-madgraph-FullLept:1.0172685"
$$	     "TTbar-madgraph:1.05315"


mcuncert = 0
kstest = 0
chi2test = 0
resmax = 0.6

$$ LABELS

$$include ../labels/CMSPreliminary.config
include ../labels/13TeV.config
$$include ../labels/20fbinv.config
labels+  = "0.2:0.87:Electron channel"
	   $$"0.2:0.87:t(be#nu)H(b#bar{b})"
	   "0.2:0.81:t#bar{t} CR"
$$	   "0.55:0.89:#bf{with CSV reweighting}"

$$ CUTS


cuts+ = "(nel==1&&nmu==0)"	
$$	"passpresel && npv>0"
$$	"hlt_ele27_wp80>0."
$$	"met>45"
$$	"lepwmt>35"

$$ OTHER

formats  = pdf
formats+ = png
prefix+  = tHel_topCR
opath = ./pdf_ns_tHel
