mcs = sig:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TH-madgraph-Summer12_el.root
      sig:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TH-madgraph-Summer12_mu.root
      sig_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TH-madgraph-Summer12_el.root
      sig_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TH-madgraph-Summer12_mu.root
      sig_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TH-madgraph-Summer12_el.root
      sig_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TH-madgraph-Summer12_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf1_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf2_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf3_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf4_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf5_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf6_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf7_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf8_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf9_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTH-aMCatNLO-Summer12_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/WW-pythia6-Summer12_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/WZ-pythia6-Summer12_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/ZZ-pythia6-Summer12_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/W2Jets-madgraph-Summer12_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/W3Jets-madgraph-Summer12_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/W4Jets-madgraph-Summer12_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/ZJets-madgraph-Summer12_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/SingleTop_Leptonic_t-powheg-Summer12_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/SingleTopBar_Leptonic_t-powheg-Summer12_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/SingleTop_tW-powheg-Summer12_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/SingleTopBar_tW-powheg-Summer12_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/SingleTop_Leptonic_s-powheg-Summer12_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/SingleTopBar_Leptonic_s-powheg-Summer12_el.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf1_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf2_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf3_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf4_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf5_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf6_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf7_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf8_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTbar-madgraph-Summer12-hf9_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/TTH-aMCatNLO-Summer12_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/WW-pythia6-Summer12_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/WZ-pythia6-Summer12_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/ZZ-pythia6-Summer12_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/W2Jets-madgraph-Summer12_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/W3Jets-madgraph-Summer12_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/W4Jets-madgraph-Summer12_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/ZJets-madgraph-Summer12_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/SingleTop_Leptonic_t-powheg-Summer12_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/SingleTopBar_Leptonic_t-powheg-Summer12_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/SingleTop_tW-powheg-Summer12_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/SingleTopBar_tW-powheg-Summer12_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/SingleTop_Leptonic_s-powheg-Summer12_mu.root
      bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/3tt_incl/lep/eval/SingleTopBar_Leptonic_s-powheg-Summer12_mu.root


      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf1_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf2_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf3_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf4_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf5_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf6_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf7_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf8_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf9_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf1_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf2_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf3_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf4_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf5_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf6_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf7_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf8_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf9_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTH-aMCatNLO-Summer12_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/WW-pythia6-Summer12_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/WZ-pythia6-Summer12_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/ZZ-pythia6-Summer12_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/W2Jets-madgraph-Summer12_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/W3Jets-madgraph-Summer12_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/W4Jets-madgraph-Summer12_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/ZJets-madgraph-Summer12_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/SingleTop_Leptonic_t-powheg-Summer12_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/SingleTopBar_Leptonic_t-powheg-Summer12_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/SingleTop_tW-powheg-Summer12_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/SingleTopBar_tW-powheg-Summer12_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/SingleTop_Leptonic_s-powheg-Summer12_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/SingleTopBar_Leptonic_s-powheg-Summer12_el.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf1_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf2_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf3_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf4_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf5_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf6_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf7_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf8_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf9_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf1_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf2_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf3_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf4_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf5_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf6_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf7_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf8_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf9_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/TTH-aMCatNLO-Summer12_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/WW-pythia6-Summer12_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/WZ-pythia6-Summer12_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/ZZ-pythia6-Summer12_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/W2Jets-madgraph-Summer12_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/W3Jets-madgraph-Summer12_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/W4Jets-madgraph-Summer12_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/ZJets-madgraph-Summer12_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/SingleTop_Leptonic_t-powheg-Summer12_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/SingleTopBar_Leptonic_t-powheg-Summer12_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/SingleTop_tW-powheg-Summer12_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/SingleTopBar_tW-powheg-Summer12_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/SingleTop_Leptonic_s-powheg-Summer12_mu.root
      bkg_jes0_up:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_UP/3tt_incl/lep/eval/SingleTopBar_Leptonic_s-powheg-Summer12_mu.root


      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf1_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf2_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf3_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf4_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf5_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf6_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf7_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf8_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf9_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf1_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf2_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf3_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf4_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf5_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf6_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf7_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf8_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf9_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTH-aMCatNLO-Summer12_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/WW-pythia6-Summer12_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/WZ-pythia6-Summer12_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/ZZ-pythia6-Summer12_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/W2Jets-madgraph-Summer12_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/W3Jets-madgraph-Summer12_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/W4Jets-madgraph-Summer12_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/ZJets-madgraph-Summer12_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/SingleTop_Leptonic_t-powheg-Summer12_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/SingleTopBar_Leptonic_t-powheg-Summer12_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/SingleTop_tW-powheg-Summer12_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/SingleTopBar_tW-powheg-Summer12_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/SingleTop_Leptonic_s-powheg-Summer12_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/SingleTopBar_Leptonic_s-powheg-Summer12_el.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf1_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf2_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf3_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf4_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf5_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf6_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf7_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf8_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-SemiLept-Summer12-hf9_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf1_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf2_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf3_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf4_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf5_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf6_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf7_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf8_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTbar-madgraph-FullLept-Summer12-hf9_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/TTH-aMCatNLO-Summer12_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/WW-pythia6-Summer12_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/WZ-pythia6-Summer12_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/ZZ-pythia6-Summer12_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/W2Jets-madgraph-Summer12_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/W3Jets-madgraph-Summer12_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/W4Jets-madgraph-Summer12_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/ZJets-madgraph-Summer12_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/SingleTop_Leptonic_t-powheg-Summer12_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/SingleTopBar_Leptonic_t-powheg-Summer12_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/SingleTop_tW-powheg-Summer12_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/SingleTopBar_tW-powheg-Summer12_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/SingleTop_Leptonic_s-powheg-Summer12_mu.root
      bkg_jes0_down:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/systematics/JES0_DOWN/3tt_incl/lep/eval/SingleTopBar_Leptonic_s-powheg-Summer12_mu.root


mcweights =  "weightPU*weight_toppt*weight_btag*weight_lsf"
 	    
	   
	  
	 
	


	    
labels+  = "0.2:0.87:42:0.04:tWH   at the LHC13"
           "0.2:0.81:42:0.04:NLO 5F"

lumi = 19709
$$restitle = "#frac{Sum}{wbwbH}"


mc_residuals = 0   $$1 
residuals = 0   $$1 

stackmc = 0
mcstackname = htWH_DR
mcrefname = htWH_DRint
resmax = 2

batch = 1

formats = "pdf"

masterbool = 0

$$ Legend parameters

leginplot = 1 
legx = 0.54 
legy = 0.91 
legh = 0.17 
legw = 0.3
