$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$ (H125->bb)(t->bWlnu)
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$


$$ MC SAMPLES

mcs = "8tev:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/TH-madgraph-Summer12.root"
      "13tev:/storage/a/singletophiggs/13tev/mc_nov16/THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"
      "8tevsm:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/TH-SM-madgraph-Summer12.root"
      "13tevsm:/storage/a/singletophiggs/13tev/mc_nov16/THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"

mclabels+ =  "8tev:8 TeV"
	     "13tev:13 TeV"
	     "8tevsm:8 TeV"
	     "13tevsm:13 TeV"
mccolors+ =  "8tev:633"
	     "13tev:600"
	     "8tevsm:633"
	     "13tevsm:600"

mcweights = "13tevsm:weights_syst[457]"

cuts = "nlepw==1"

lumi      = 19709.


lumi = 0 
mcuncert = 1
chi2test = 0
kstest = 0
resmax = 0.6
poisson = 1
legh = 0.09
overflow = 0

$$ LABELS

$$labels+  = "0.175:0.86:Muon + electron channel"
$$	    "0.175:0.80:3 tag region"		     

ytitle = "Norm. to unit area"



$$ OTHER


mc_residuals = 0   $$1 
residuals = 0   $$1 
stackmc = 0
mcstackname = h8tev
mcrefname = h13tev
resmax = 2
batch = 1
formats = "pdf"
masterbool = 0



formats  = pdf
prefix+  = tH_8_vs_13tev
opath = ./pdf_8_vs_13tev
