mcs = "8tev:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/TH-madgraph-Summer12.root"
      "13tev:/storage/a/singletophiggs/13tev/mc_nov16/THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root"


mclabels+ =  "8tev:8 TeV"
	       "13tev:13 TeV"

mccolors+ =  "8tev:633"
	       "13tev:600"



cuts = "nlepw==1"

lumi      = 19709.


lumi = 0 
mcuncert = 1
chi2test = 0
kstest = 0
