processes = "TTH-powheg:ttH"
            "Wjets:Wj"
            "Diboson:VV"
            "SingleTop-powheg:s_Top"
	    "TTbar-FXFX_bb:TTbb"
	    "TTbar-FXFX_2b:TT2b"
	    "TTbar-FXFX_b:TT1b"
	    "TTbar-FXFX_cc:TTcc"
	    "TTbar-FXFX_lf:TTlf"
            "THW125-madgraph:tHW"
	    "THQ125-madgraph:tHq"


