B$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$ (H125->bb)(t->bWelnu)
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

$$ DATA SAMPLE

datapath = "/storage/a/singletophiggs/Moriond/winter14-jan28/data/ana-ichep/ttbar_cr_incl/el"
include ../../samples/DataEl.config


$$ MC SAMPLES

mcpath   = "/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/ttbar_cr_incl/el/eval"
include ../../samples/Off-TH125-madgraph_ct.config
include ../../samples/Off-TTbar-madgraph-bb.config
include ../../samples/Off-TTbar-madgraph-b.config
include ../../samples/Off-TTbar-madgraph-cc.config
include ../../samples/Off-TTbar-madgraph-lf.config
$$include ../../samples/Off-SingleTop-powheg.config
include ../../samples/Off-TTH125-aMCatNLO.config
include ../../samples/Off-Electroweak_ST.config

lumi      = 19690.
1;2c
mcweights+ = "weightPU"
	     "weight_toppt" 
	     "weight_btag"
	     "weight_lsf"

lumi = 0 
mcuncert = 1
chi2test = 0
kstest = 0
resmax = 0.6
poisson = 1
legh = 0.09
overflow = 0


$$ LABELS

include ../../labels/20fbinv.config
labels+  = "0.175:0.86:Electron channel"
	   "0.175:0.80:2 tag region"

$$ CUTS


cuts+ = "(nel==1&&nvetoel==1 &&nvetomu==0)"	
	"passpresel && npv>0"
	"hlt_ele27_wp80>0."
	"met>45"

$$ OTHER

formats  = pdf
prefix+  = tHel_2tag_8tev
opath = ./pdf_tHel
