$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$ (H125->bb)(t->bWmunu)
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

$$ DATA SAMPLE

datapath = "/storage/a/singletophiggs/Moriond/winter14-jan28/data/ana-nominal/ttbar_cr_incl/el"
include ../../samples/DataEl.config


$$ MC SAMPLES

mcpath   = "/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/ttbar_cr_incl/el"
include ../../samples/Off-TH125-madgraph.config
include ../../samples/Off-TTbar-madgraph.config
$$include ../../samples/Off-TTbar-madgraph-b.config
$$include ../../samples/Off-TTbar-madgraph-bb.config
$$include ../../samples/Off-TTbar-madgraph-cc.config
$$include ../../samples/Off-TTbar-madgraph-lf.config
include ../../samples/Off-SingleTop-powheg.config
include ../../samples/Off-TTH125-aMCatNLO.config
include ../../samples/Off-Electroweak.config
$$include ../../samples/Off-QCDmuInclPt-pythia6.config


$$ SYSTEMATICS

include ../../samples/Off-SysDOWN_all.config
include ../../samples/Off-SysUP_all.config

mcpath_sysup   = "/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/systematics/JES_UP/ttbar_cr_incl/el"
mcpath_sysdown   = "/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/systematics/JES_DOWN/ttbar_cr_incl/el"


$$ WEIGHTS


lumi      = 19779.

mcweights+ = "weightPU" 
	     "weight_toppt"
	     "weight_csv"
	     "weight_lsf"
$$	     "TTbar-madgraph-SemiLept:1.0113239"
$$	     "TTbar-madgraph-FullLept:1.0172685"
$$	     "TTbar-madgraph:1.05315"

mcuncert = 1
chi2test = 0
kstest = 0
resmax = 0.5

$$ LABELS

include ../../labels/8TeV.config
include ../../labels/19fbinv.config
labels+  = "0.2:0.89:t(be#nu)H(b#bar{b})"
	   "0.2:0.84:t#bar{t} CR"
$$	   "0.55:0.89:jet #eta in (2.4,2.8)"

$$ CUTS


cuts+ = "(nmu==0 &&nvetomu==0 && nvetoel==1 &&nel==1)"
	"passpresel && npv>0"
	"hlt_ele27_wp80>0."
	"met>45"
	"jtpt[]>20"
$$	"lepwmt>35"
	

$$ OTHER

formats  = pdf
prefix+  = tHel_topCR
opath = ./pdf_tHel
