$$
$$ LUMI SYSTEMATICS CONFIGURATION
$$

systematic = "lumi_13TeV"

scale      = "1.045"

channels   = "tH_2t"
	     "tH_3t"
	     "tH_4t"
	     
processes  = "tHq"
	     "tHW"
             "s_Top"
	     "Wj"
             "VV"
	     "ttH"
	     "TTbb"
	     "TT2b"
	     "TT1b"
	     "TTcc"
	     "TTlf"



