data =  "bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/TTbar-madgraph-SemiLept-Summer12.root"
        "bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/TTbar-madgraph-FullLept-Summer12.root"
        "bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/TTbar-madgraph-Hadronic-Summer12.root"
	"bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/SingleTop_Leptonic_t-powheg-Summer12.root"        
        "bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/SingleTopBar_Leptonic_t-powheg-Summer12.root"        
        "bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/SingleTop_Leptonic_s-powheg-Summer12.root"        
	"bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/SingleTopBar_Leptonic_s-powheg-Summer12.root"        
	"bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/SingleTop_tW-powheg-Summer12.root"        
	"bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/SingleTopBar_tW-powheg-Summer12.root"
	"bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/TTH-aMCatNLO-Summer12.root"        	        
	"bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/ZZ-pythia6-Summer12.root"        	        
	"bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/WZ-pythia6-Summer12.root"        	        
	"bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/WW-pythia6-Summer12.root"        	        
	"bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/W2Jets-madgraph-Summer12.root"        	        
	"bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/W3Jets-madgraph-Summer12.root"        	        
	"bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/W4Jets-madgraph-Summer12.root"        	        
	"bkg:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/ZJets-madgraph-Summer12.root"        	        
	"tH:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/TH-madgraph-Summer12.root"
	
datalabels = "tH:tH"
	     "bkg:background sum"


datacolors = "tH:598"
	     "bkg:633"
	     

ytitle = "norm. to unit area"

legx       = "0.56"
legy       = "0.8"
legh       = "0.04"
legw       = "0.35"
batch      = "true" 
varexpr    = "hbbdr"
xtitle     = "#DeltaR between Higgs jets" 
suffix     = "hbbdr_sigbkg_wohbbm" 
nbinsx     = "25"
xmin       = "0"
xmax       = "5"
resolution = 0

include /portal/ekpcms5/home/bmaier/thanalysis/labels/8TeV.config

labels+  = "0.2:0.89:t(bl#nu)H(b#bar{b})"
	   "0.2:0.84:3T Region"
	   "0.2:0.79:#kappa_{t}=-1"
	   "0.4:0.96:#bf{#DeltaR between Higgs jets}"
	   $$"0.6:0.89:#it{signal sample}"

$$cuts = "(met>35 && nmu==1&&nlmu==1&&nel==0&&nlel==0&&hlt_isomu24_eta2p1>0.)||(met>45 && nmu==0&&nlmu==0&&nel==1&&nlel==1&&hlt_ele27_wp80>0.)"