data =  "ttH:/storage/5/bmaier/TH/mc/summer13-jun24/presel_3tag/TTH-aMCatNLO-Summer12.root"
	"corrttH:/storage/5/bmaier/TH/mc/summer13-jun24/reg-apply-3tag/TTH-aMCatNLO-Summer12.root"
	"st:/storage/5/bmaier/TH/mc/summer13-jun24/presel_3tag/SingleTop_t-powheg-Summer12.root"
        "st:/storage/5/bmaier/TH/mc/summer13-jun24/presel_3tag/SingleTopBar_t-powheg-Summer12.root"
	"corrst:/storage/5/bmaier/TH/mc/summer13-jun24/reg-apply-3tag/SingleTop_t-powheg-Summer12.root"
        "corrst:/storage/5/bmaier/TH/mc/summer13-jun24/reg-apply-3tag/SingleTopBar_t-powheg-Summer12.root"
	"ttbar:/storage/5/bmaier/TH/mc/summer13-jun24/presel_3tag/TTbar-madgraph-SemiLept-Summer12.root"
        "ttbar:/storage/5/bmaier/TH/mc/summer13-jun24/presel_3tag/TTbar-madgraph-FullLept-Summer12.root"
	"corrttbar:/storage/5/bmaier/TH/mc/summer13-jun24/reg-apply-3tag/TTbar-madgraph-SemiLept-Summer12.root"
        "corrttbar:/storage/5/bmaier/TH/mc/summer13-jun24/reg-apply-3tag/TTbar-madgraph-FullLept-Summer12.root"

	"tH:/storage/5/bmaier/TH/mc/summer13-jun24/presel_3tag/TH-madgraph-Summer12.root"
	"corrtH:/storage/5/bmaier/TH/mc/summer13-jun24/reg-apply-3tag/TH-madgraph-Summer12.root"



datalabels = "corrtH:#it{tH} regression"
             "tH:#it{tH}"
	     "corrst:single top regression"
	     "st:single top"
	     "corrttbar:#it{t#bar{t}} regression"
	     "ttbar:#it{t#bar{t}}"
	     "corrttH:#it{ttH} regression"
	     "ttH:#it{ttH}"


datacolors = "corrtH:633"
	     "tH:625"
	     "corrst:417"
	     "st:409"
	     "corrttbar:601"
	     "ttbar:856"
	     "corrttH:797"
	     "ttH:800"

ytitle = "norm. to unit area"

$legx       = "0.18"
$legy       = "0.9"
$legh       = "0.05"
$legw       = "0.35"
batch      = "true" 
varname    = "HbbM" 
suffix     = "regression_wjets" 
nbinsx     = "50"
xmin       = "30"
xmax       = "230"
resolution = 1

include /portal/ekpcms5/home/bmaier/thanalysis/labels/8TeV.config

labels+  = "0.2:0.89:t(bl#nu)H(b#bar{b})"
	   "0.2:0.84:3t Region (tight WP)"
	   "0.2:0.79:#kappa_{t}=-1"
