data =  "st:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/whbbm/SingleTop_Leptonic_t-powheg-Summer12.root"
        "st:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/whbbm/SingleTop_Leptonic_s-powheg-Summer12.root"
	"st:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/whbbm/SingleTop_tW-powheg-Summer12.root"
	$$"stwohbbm:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/SingleTop_Leptonic_t-powheg-Summer12.root"
        $$"stwohbbm:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/SingleTop_Leptonic_s-powheg-Summer12.root"
	$$"stwohbbm:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/SingleTop_tW-powheg-Summer12.root"
	"tH:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/whbbm/TH-madgraph-Summer12.root"
	$$"tHwohbbm:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/TH-madgraph-Summer12.root"



datalabels = "tHwohbbm:tHq no m_{H}"
             "tH:tHq"
	     "stwohbbm:single top no m_{H}"
	     "st:single top"
	     $$"corrttbar:#it{t#bar{t}} regression"
	     $$"ttbar:#it{t#bar{t}}"
	     $$"corrttH:#it{ttH} regression"
	     $$"ttH:#it{ttH}"


datacolors = "tHwohbbm:633"
	     "tH:633"
	     "stwohbbm:408"
	     "st:408"


ytitle = "norm. to unit area"

legx       = "0.53"
legy       = "0.89"
legh       = "0.04"
legw       = "0.35"

batch      = "true" 
varname    = "HbbM" 
suffix     = "noremoval_st" 
nbinsx     = "20"
xmin       = "30"
xmax       = "230"
resolution = 

include /portal/ekpcms5/home/bmaier/thanalysis/labels/8TeV.config

labels+  = "0.2:0.89:t(bl#nu)H(b#bar{b})"
	   "0.2:0.84:3T Region"
	   "0.2:0.79:#kappa_{t}=-1"
