data =  "ttH:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/whbbm/TTH-aMCatNLO-Summer12.root"
$$data  = "ttHwohbbm:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/TTH-aMCatNLO-Summer12.root"
	"tH:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/whbbm/TH-madgraph-Summer12.root"
$$	"tHwohbbm:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/TH-madgraph-Summer12.root"

	


datalabels = "tHwohbbm:tHq no m_{H}"
             "tH:tHq"
	     $$"corrst:single top regression"
	     $$"st:single top"
	     $$"corrttbar:#it{t#bar{t}} regression"
	     $$"ttbar:#it{t#bar{t}}"
	     "ttHwohbbm:ttH no m_{H}"
	     "ttH:ttH"


datacolors = "tHwohbbm:633"
	     "tH:633"
	     $$"corrst:417"
	     $$"st:409"
	     $$"corrttbar:601"
	     $$"ttbar:856"
	     "ttHwohbbm:429"
	     "ttH:429"

ytitle = "norm. to unit area"

legx       = "0.53"
legy       = "0.89"
legh       = "0.04"
legw       = "0.35"

batch      = "true" 
varname    = "HbbM" 
suffix     = "noremoval_tth" 
nbinsx     = "20"
xmin       = "30"
xmax       = "230"
resolution = 0

include /portal/ekpcms5/home/bmaier/thanalysis/labels/8TeV.config

labels+  = "0.2:0.89:t(bl#nu)H(b#bar{b})"
	   "0.2:0.84:3T Region"
	   "0.2:0.79:#kappa_{t}=-1"
