data =  "tH:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/whbbm/TH-madgraph-Summer12.root"
	"tHwohbbm:/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm/TH-madgraph-Summer12.root"
       
$      

datalabels = "tHwohbbm:no m_{H} in reco MVA"
             "tH:m_{H} included"


datacolors = "tHwohbbm:633"
	     "tH:598"


ytitle = "norm. to unit area"

legx       = "0.56"
legy       = "0.8"
legh       = "0.04"
legw       = "0.35"
batch      = "true" 
varname    = "HbbM" 
suffix     = "hbbm_removal" 
nbinsx     = "50"
xmin       = "30"
xmax       = "230"
resolution = 1

include /portal/ekpcms5/home/bmaier/thanalysis/labels/8TeV.config

labels+  = "0.2:0.89:t(bl#nu)H(b#bar{b})"
	   "0.2:0.84:3T Region"
	   "0.2:0.79:#kappa_{t}=-1"
	   "0.4:0.96:#bf{Higgs mass after reconstruction}"
	   "0.6:0.89:#it{signal sample}"

cuts = "(nmu==1&&nlmu==1&&nel==0&&nlel==0&&hlt_isomu24_eta2p1>0.)||(nmu==0&&nlmu==0&&nel==1&&nlel==1&&hlt_ele27_wp80>0.)"