mcpath   = "/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/whbbm"

mcpath2   = "/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/wohbbm"

include ../../samples/Off-TH125-madgraph.config
include ../../samples/Off-TTbar-madgraph-hbbmstudies.config
include ../../samples/Off-SingleTop-powheg.config
include ../../samples/Off-TTH125-aMCatNLO.config
include ../../samples/Off-Electroweak.config


lumi      = 19779.


prefix+ = tH_hbbm


mcweights+ = "weightPU"
	     "weight_toppt" 
	     "weight_csv"
	     "weight_lsf"


signals    = TH125-madgraph

cuts = "(met>35 && nmu==1&&nlmu==1&&nel==0&&nlel==0&&hlt_isomu24_eta2p1>0.)||(met>45 && nmu==0&&nlmu==0&&nel==1&&nlel==1&&hlt_ele27_wp80>0.)"
cuts2 = "(met>35 && nmu==1&&nlmu==1&&nel==0&&nlel==0&&hlt_isomu24_eta2p1>0.)||(met>45 && nmu==0&&nlmu==0&&nel==1&&nlel==1&&hlt_ele27_wp80>0.)"

$$labels+  = "0.2:0.89:t(b#mu#nu)H(b#bar{b})"
$$	   "0.2:0.84:3T Region"
