$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$ (H125->bb)(t->bWmunu)
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

$$ DATA SAMPLE

datapath = "/storage/a/singletophiggs/Moriond/winter14-jan07/data/ana-nominal/3tt_incl/"
$$include ../samples/Data.config


$$ MC SAMPLES

mcpath   = "/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/3tt_incl/whbbm"
include ../../samples/Off-TH125-madgraph.config
include ../../samples/Off-TH125-madgraph-wohbbm.config
$$include ../samples/Background.config


$$lumi      = 19304.
lumi = -1.

mcweights+ = "weightPU"
             "weight_csv"
	     "weight_lsf"
	 
$$mcuncert = 1


$$ LABELS

include ../../labels/8TeV.config
$$include ../labels/19fbinv.config
labels+  = "0.2:0.89:t(bl#nu)H(b#bar{b})"
	   "0.2:0.84:3T Region"
	   "0.2:0.79:#kappa_{t}=-1, tHq reco"

mclabels+ = "TH125-madgraph:with m_{b#bar{b}}"


$$ CUTS

cuts = "(met>35 && nmu==1&&nlmu==1&&nel==0&&nlel==0&&hlt_isomu24_eta2p1>0.)||(met>45 && nmu==0&&nlmu==0&&nel==1&&nlel==1&&hlt_ele27_wp80>0.)"


$$ OTHER

formats  = pdf
prefix+  = tHsb
opath = .
