
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$ (H125->bb)(t->bWmunu)
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

$$ DATA SAMPLE

datapath = "/storage/a/singletophiggs/Moriond/winter14-jan28/data/ana-ichep/4tt_incl/lep"
include ../../samples/Data.config


$$ MC SAMPLES

mcpath   = "/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-ichep/4tt_incl/lep/eval"
$$mcpath   = "/storage/a/singletophiggs/Moriond/winter14-jan28/mc/ana-nominal/systematics/BTAG_DOWN/3tt_incl/mu"
include ../../samples/Off-TH125-madgraph-lep.config
$$include ../../samples/TTbar-madgraph-SemiLept.config
$$include ../../samples/TTbar-madgraph-FullLept.config
$$include ../../samples/TTbar-madgraph-Hadronic.config

$$include ../../samples/Off-TTbar-madgraph.config
include ../../samples/Off-TTbar-madgraph-b-lep.config
include ../../samples/Off-TTbar-madgraph-bb-lep.config
include ../../samples/Off-TTbar-madgraph-cc-lep.config
include ../../samples/Off-TTbar-madgraph-lf-lep.config
include ../../samples/Off-SingleTop-powheg-lep.config
include ../../samples/Off-TTH125-aMCatNLO-lep.config
include ../../samples/Off-Electroweak-lep.config

$$include ../../samples/WJets-madgraph.config
$$include ../../samples/ZJets-madgraph.config
$$include ../../samples/TQZ-aMCatNLO.config
$$include ../../samples/QCD-pythia6.config

$$include ../../samples/Off-QCDmuInclPt-pythia6.config

lumi      = 19779.

mcweights+ = "weightPU"
	     "weight_toppt" 
	     "weight_btag"
	     "weight_lsf"
$$	     "TTbar-madgraph-SemiLept:1.0113239"
$$	     "TTbar-madgraph-FullLept:1.0172685"

mcuncert = 1
chi2test = 0
kstest = 0
resmax = 0.5

$$ LABELS

include ../../labels/8TeV.config
include ../../labels/19fbinv.config
labels+  = "0.2:0.89:t(bl#nu)H(b#bar{b})"
	   "0.2:0.84:4T Region"
	   $$"0.55:0.89:#bf{signal depleted}"
	   "0.2:0.79:#kappa_{t}=-1, m_{H}=125 GeV"


$$ CUTS


cuts+ = "((nmu==1 &&nvetomu==1 && nvetoel==0 &&hlt_isomu24_eta2p1&&met>35) || (nel==1 &&nvetoel==1 && nvetomu==0 &&hlt_ele27_wp80&&met>45))"
	"passpresel && npv>0"
	"hlt_isomu24_eta2p1>0."
	$$"mlpout<0.54"
	$$"met>35"
$$	"lepwmt>35"

$$ OTHER

formats  = pdf
prefix+  = tHlep_4tag
opath = ./pdf_tHlep
