$$
$$ LUMI SYSTEMATICS CONFIGURATION
$$

systematic = "CMS_eff_lep"

scale      = "1.02"

channels   = "tH_2t"
	     "tH_3t"
	     "tH_4t"

processes  = "tHq"
	     "tHW"
             "s_Top"
             "Wj"
             "VV"
	     "ttH"
	     "TTbb"
	     "TT2b"
	     "TT1b"
	     "TTcc"
	     "TTlf"

