$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$
$$ MC CROSS SECTIONS AND FILTER EFFICIENCIES
$$ =========================================
$$
$$ format: sample[:cross-section[:filter-efficiency]]
$$
$$            19/10/2011 Hauke Held <held@cern.ch>
$$                       Philipp Schieferdecker <philipp.schieferdecker@cern.ch>
$$            
$$ UPDATE!    24/03/2014 Christian Boeser
$$             
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

inputs   = TTbar-madgraph-SemiLept-Summer12:107.7
           TTbar-madgraph-FullLept-Summer12:25.8
           TTbar-madgraph-Hadronic-Summer12:112.3
$$	   SingleTop_t-powheg-Summer12:56.3
$$	   SingleTopBar_t-powheg-Summer12:30.7
           SingleTop_t-powheg-Summer12:18.27	  $$ Careful, this is for the leptonic sample
	   SingleTopBar_t-powheg-Summer12:9.95     $$ Careful, this is for the leptonic sample
	   SingleTop_tW-powheg-Summer12:11.1
	   SingleTopBar_tW-powheg-Summer12:11.1
	   SingleTop_s-powheg-Summer12:1.23         $$ Careful, this is for the leptonic sample
           SingleTopBar_s-powheg-Summer12:0.57        $$ Careful, this is for the leptonic sample
	   TTH-aMCatNLO-Summer12:0.13
	   TH-madgraph-Summer12:0.0341
	   W2Jets-madgraph-Summer12:2116.0
	   W3Jets-madgraph-Summer12:637.0
	   W4Jets-madgraph-Summer12:262.0
	   ZJets-madgraph-Summer12:3503.71
	   WW-pythia6-Summer12:56.7532
	   WZ-pythia6-Summer12:33.85
	   ZZ-pythia6-Summer12:8.297
	   TQZ-aMCatNLO-PRIVATE:0.166
	   TTbar-madgraph-MatchingDown-Summer12:245.8
	   TTbar-madgraph-MatchingUp-Summer12:245.8
	   TTbar-madgraph-ScaleDown-Summer12:245.8
	   TTbar-madgraph-ScaleUp-Summer12:245.8
	   QCD_BCtoE_20_30:2.886E8:0.000048
           QCD_BCtoE_30_80:7.424E7:0.00225
           QCD_BCtoE_80_170:1191000:0.0109
           QCD_BCtoE_170_250:30980:0.0204
           QCD_BCtoE_250_350:4250:0.0243
           QCD_BCtoE_350:811.0:0.0295
           QCD_EMEnriched_20_30:2.886E8:0.0101
           QCD_EMEnriched_30_80:7.433E7:0.0621
           QCD_EMEnriched_80_170:1191000:0.1539
           QCD_EMEnriched_170_250:30990:0.148
           QCD_EMEnriched_250_350:4250:0.131
           QCD_EMEnriched_350:810:0.11
           QCD_PhotonJets_40_100:20730.0
	   QCD_PhotonJets_100_200:5330.0
           QCD_PhotonJets_200_400:961.0
           QCD_PhotonJets_400:103.0
	   QCD_MuEnriched_InclPt15_v1:364000000:0.00037
	   QCD_MuEnriched_InclPt15_v3:364000000:0.00037
