mcs = sig:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
      sig:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/THW_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
      sig_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
      sig_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/THW_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
      sig_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/THQ_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root
      sig_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/THW_Hincl_13TeV-madgraph-pythia8_TuneCUETP8M1.root



      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTTo2L2Nu_13TeV-powheg_total_1b.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTTo2L2Nu_13TeV-powheg_total_2b.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTTo2L2Nu_13TeV-powheg_total_bb.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTTo2L2Nu_13TeV-powheg_total_cc.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTTo2L2Nu_13TeV-powheg_total_lf.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTToSemiLeptonic_13TeV-powheg_1b.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTToSemiLeptonic_13TeV-powheg_2b.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTToSemiLeptonic_13TeV-powheg_bb.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTToSemiLeptonic_13TeV-powheg_cc.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTToSemiLeptonic_13TeV-powheg_lf.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ttHTobb_M125_13TeV_powheg_pythia8.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ZZ_TuneCUETP8M1_13TeV-pythia8.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/WZ_TuneCUETP8M1_13TeV-pythia8.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/WW_TuneCUETP8M1_13TeV-pythia8.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/WJetsToLNu_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ST_t-channel_antitop_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ST_t-channel_top_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ST_tW_antitop_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      bkg:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ST_tW_top_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root


      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTTo2L2Nu_13TeV-powheg_total_1b.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTTo2L2Nu_13TeV-powheg_total_2b.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTTo2L2Nu_13TeV-powheg_total_bb.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTTo2L2Nu_13TeV-powheg_total_cc.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTTo2L2Nu_13TeV-powheg_total_lf.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTToSemiLeptonic_13TeV-powheg_1b.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTToSemiLeptonic_13TeV-powheg_2b.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTToSemiLeptonic_13TeV-powheg_bb.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTToSemiLeptonic_13TeV-powheg_cc.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTToSemiLeptonic_13TeV-powheg_lf.root

      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ttHTobb_M125_13TeV_powheg_pythia8.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ZZ_TuneCUETP8M1_13TeV-pythia8.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/WZ_TuneCUETP8M1_13TeV-pythia8.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/WW_TuneCUETP8M1_13TeV-pythia8.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/WJetsToLNu_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ST_t-channel_antitop_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ST_t-channel_top_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ST_tW_antitop_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      bkg_CSVCErr2_up:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ST_tW_top_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root

      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTTo2L2Nu_13TeV-powheg_total_1b.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTTo2L2Nu_13TeV-powheg_total_2b.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTTo2L2Nu_13TeV-powheg_total_bb.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTTo2L2Nu_13TeV-powheg_total_cc.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTTo2L2Nu_13TeV-powheg_total_lf.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTToSemiLeptonic_13TeV-powheg_1b.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTToSemiLeptonic_13TeV-powheg_2b.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTToSemiLeptonic_13TeV-powheg_bb.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTToSemiLeptonic_13TeV-powheg_cc.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/TTToSemiLeptonic_13TeV-powheg_lf.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ttHTobb_M125_13TeV_powheg_pythia8.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ZZ_TuneCUETP8M1_13TeV-pythia8.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/WZ_TuneCUETP8M1_13TeV-pythia8.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/WW_TuneCUETP8M1_13TeV-pythia8.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/WJetsToLNu_TuneCUETP8M1_13TeV-madgraphMLM-pythia8.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ST_t-channel_antitop_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ST_t-channel_top_4f_leptonDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ST_tW_antitop_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root
      bkg_CSVCErr2_down:/storage/jbod/sfink/th_samples/13tev/mc_mar16/3m/naf/ST_tW_top_5f_inclusiveDecays_13TeV-powheg-pythia8_TuneCUETP8M1.root



mcweights =  "sig:Weight_PU"
             "sig:Weight_CSV"
             "sig_CSVCErr2_up:Weight_PU"
	     "sig_CSVCErr2_up:Weight_CSVCErr2up"
	     "sig_CSVCErr2_up:Weight_CSV"
	     "sig_CSVCErr2_down:Weight_PU"
	     "sig_CSVCErr2_down:Weight_CSVCErr2down"
	     "sig_CSVCErr2_down:Weight_CSV"
             "bkg:Weight_PU"
             "bkg:Weight_CSV"
             "bkg_CSVCErr2_up:Weight_PU"
	     "bkg_CSVCErr2_up:Weight_CSVCErr2up"
	     "bkg_CSVCErr2_up:Weight_CSV"
             "bkg_CSVCErr2_down:Weight_PU"
	     "bkg_CSVCErr2_down:Weight_CSVCErr2down"
	     "bkg_CSVCErr2_down:Weight_CSV"
	     "Weight_LSF"

cuts+ = "(((nmu==1 && nel==0 && nlmu ==1)*((Alt$(mupt[0],0))>25)*(met>35)) || ((nel==1 && nmu ==0 && nlel==1)*((Alt$(elpt[0],0))>30)*(met>45) ))"
        "bdtout>-10"

	    
labels+  = "0.2:0.87:42:0.04:tH   at the LHC13"
           "0.2:0.81:42:0.04:NLO 5F"

lumi = 2671

$$restitle = "#frac{Sum}{wbwbH}"


mc_residuals = 0   $$1 
residuals = 0   $$1 

stackmc = 0
mcstackname = htWH_DR
mcrefname = htWH_DRint
resmax = 2

batch = 1

formats = "pdf"

masterbool = 0

$$ Legend parameters

leginplot = 1 
legx = 0.54 
legy = 0.91 
legh = 0.17 
legw = 0.3
