$$
$$ LUMI SYSTEMATICS CONFIGURATION
$$

systematic = "eff_e"

scale      = "1.02"

channels   = "tH_3tt_el"
	     "tH_4tt_el"

processes  = "tH"
             "s_Top"
	     "EW"
             "Wj"
             "Zj"
             "VV"
	     "ttH"
	     "TT"
	     "TTbb"
	     "TTb"
	     "TTcc"
	     "TTlf"
             "QCD"

