$$
$$ LUMI SYSTEMATICS CONFIGURATION
$$

systematic = "lumi"

scale      = "1.026"

channels   = "tH_3tt_mu"
	     "tH_3tt_el"
	     "tH_4tt_mu"
	     "tH_4tt_el"

processes  = "tH"
             "s_Top"
	     "EW"
	     "Zj"
	     "Wj"
	     "ttH"
	     "TT"
	     "TTbb"
	     "TTb"
	     "TTcc"
	     "TTlf"
             "QCD"


