$$ CONFIGURATION FOR WmunuH125
$$ (needs to be first config file in make datacards...)

$$ MC SAMPLE
include ../../samples/Off-TH125-madgraph-ScaleUp.Config

$$ Datacards
rootfile  = tH_[REGION]_[LEPTON].root
datacard  = tH_[REGION]_[LEPTON].txt

$$
$$ OTHER GLOBAL CONFIGS
$$

include ./Lumi.config
include ./Processes.config
include ./Binning.config
include ./Data_[LEPTON].config
include ./Selection_[REGION]_[LEPTON].config

