$$
$$ LUMI SYSTEMATICS CONFIGURATION
$$

systematic = "CMS_eff_m"

scale      = "1.02"

channels   = "tH_3tt_mu"
	     "tH_4tt_mu"
             "tH_ttbar_cr_mu"

processes  = "tH"
             "s_Top"
	     "EW"
	     "Wj"
	     "Zj"
	     "VV"
	     "ttH"
	     "TT"
	     "TTbb"
	     "TTb"
	     "TTcc"
	     "TTlf"
             "QCD"


