$$
$$ LUMI SYSTEMATICS CONFIGURATION
$$

systematic = "lumi_8TeV"

scale      = "1.026"

channels   = "tH_3tt_mu"
	     "tH_3tt_el"
	     "tH_4tt_mu"
	     "tH_4tt_el"
             "tH_ttbar_cr_mu"
             "tH_ttbar_cr_el"

processes  = "tH"
             "s_Top"
	     "EW"
	     "Zj"
	     "Wj"
             "VV"
	     "ttH"
	     "TT"
	     "TTbb"
	     "TTb"
	     "TTcc"
	     "TTlf"
             "QCD"


